@model IEnumerable<Web.Models.ViewModels.Store.CategoryViewModel>

@{string activeClass = "";}

@foreach (var item in Model)
{
    activeClass = item.Name == (string)TempData["currentCategory"] ? "active" : "";

    <a href="@Url.Action("Category", "Store", new { name = item.Slug})" class="@activeClass list-group-item"><div class="truncate pull-left">@item.Name</div></a>
}